<form (submit)="handleSubmit($event)">

  <mat-form-field appearance="fill">
    <mat-label>Select User</mat-label>
    <input matInput
           autocomplete="off"
           placeholder="type to search"
           (input)="handleInputChange()"
           [formControl]="formControl"
           [matAutocomplete]="matAutocompleteRef">
    <mat-autocomplete #matAutocompleteRef="matAutocomplete">
      <mat-option>Total: {{options?.length || 0}}</mat-option>
      <mat-option *ngFor="let option of options"
                  [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <span>Refreshed at <code>{{refreshTS}}</code></span>
  <button type="submit"
          color="primary"
          mat-flat-button
          style="position: absolute; right: 20px;">
    <mat-spinner *ngIf="isSaving"
                 [diameter]="24"
                 color="accent"
                 style="display: inline-block;"></mat-spinner>
    {{isSaving ? 'WAIT...' : 'SAVE ALL'}}
  </button>
  <mat-list>
    <mat-list-item *ngFor="let user of users">
      {{user.name}}
      <span class="extra-spacer"></span>
      <button type="button"
              mat-stroked-button
              *ngIf="user.saveStatus==='failed'"
              (click)="retry(user)">Retry</button>
      <button type="button"
              mat-stroked-button
              *ngIf="user.saveStatus==='inProgress'"
              (click)="cancel(user)">Cancel</button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>

</form>