// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

.footer-container {
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.flex {
  display: flex;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.extra-spacer {
  flex: 1 1 auto;
}

// [routerlink].active {
//   font-weight: 600;
//   color: aliceblue;
// }

[routerlink].active::after {
  content: ' ';
  position: absolute;
  height: 2px;
  background: #ff4081;
  bottom: -14px;
  left: 0;
  right: 0;
}


/**  Copyright 2020 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */